.navbar {
  background-color: #a9c78b;
}

h3 {
  margin-bottom: 2rem;
}

.quem-somos {
  background-color: #e9e9e9;
  color: slategrey;
}

.quem-somos img {
  margin: 20px 0;
}

.margin {
  padding: 50px; 
}

.parceiros {
  background-color: cornflowerblue;
}

.parceiros img,
.servicos img {
  width: 100%;
}

.servicos {
  background-color: wheat;
}

.main-footer {
  background-color: black;
  color: #fff;
}